In [6]:
import pandas as pd
import numpy as np

In [7]:
emicron = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/EMICRON/emicron_identificacion.csv", encoding = 'latin', sep = ",")

In [8]:
emicron.head()

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,P3032_1,P3032_2,P3032_3,P3033,P3034,P3035,P3000,GRUPOS4,GRUPOS12,F_EXP
0,7627444,1,1,44,NaN,2,2,33,ENERO,2,NaN,NaN,NaN,2,240,2,2,2,3,60.050515
1,7627446,1,1,44,NaN,2,1,31,ENERO,2,NaN,NaN,NaN,2,166,2,2,1,1,86.341075
2,7627449,1,1,68,NaN,1,2,42,ENERO,2,NaN,NaN,NaN,2,60,2,2,3,5,139.884518
3,7627453,1,2,68,NaN,1,2,41,ENERO,2,NaN,NaN,NaN,2,60,2,2,4,7,168.635440
4,7627456,1,3,68,NaN,1,1,18,ENERO,2,NaN,NaN,NaN,2,9,2,2,4,6,64.659273

In [4]:
#Preguntas 
#1. cuantos micronegocios hay en el quindio y cuyos propietarios son hombres entre los 18 y 30 a単os?
#2. cuantos micronegocios de la industria manufacturear existen en el departamento de risaralda cuyas propietarias son mujeres entre los 20 y los 30 a単os?
#3. Entre las ciudades de manizales, pereira y armenia, cual tiene el mas micronegocios del sector comercio, cuyas propietarias son mujeres mayores a 40 a単os?
#4. En la ciudad de armenia, cuantos micronegocios hay cuyos propietarios son hombres que no tienen nombre comercial?

In [13]:
#1. cuantos micronegocios hay en el quindio y cuyos propietarios son hombres entre los 18 y 30 a単os?
#Micronegocios  a nivel nacional
Total = emicron["F_EXP"].sum()
print("Total micronegocios a nivel nacional:", int(Total))

Total micronegocios a nivel nacional: 5297251

In [14]:
emicron.columns

Index(['DIRECTORIO', 'SECUENCIA_P', 'SECUENCIA_ENCUESTA', 'COD_DEPTO', 'AREA',
       'CLASE_TE', 'P35', 'P241', 'MES_REF', 'P3031', 'P3032_1', 'P3032_2',
       'P3032_3', 'P3033', 'P3034', 'P3035', 'P3000', 'GRUPOS4', 'GRUPOS12',
       'F_EXP'],
      dtype='object')

In [16]:
#Filtramos
Micronegocios_QH = emicron[(emicron["COD_DEPTO"] == 63) & (emicron["P35"] == 1) & (emicron["P241"].between(18,30)  )]
#Total de micronegocios en el quindio con propietarios hombres entre 18-30
Total_QH = Micronegocios_QH["F_EXP"].sum()
print("Total micronegocios en el quindio con propietarios hombres entre 18-30:", int(Total_QH))

Total micronegocios en el quindio con propietarios hombres entre 18-30: 1929

In [19]:
#2. cuantos micronegocios de la industria manufacturear existen en el departamento de risaralda cuyas propietarias son mujeres entre los 20 y los 30 a単os?
Micro_Manu_RSM = emicron[(emicron["COD_DEPTO"] == 66) & (emicron["P35"] == 2 ) & (emicron["P241"].between(20,30)) & (emicron["GRUPOS4"] == 2    )]
Total_Manu_RSM = Micro_Manu_RSM["F_EXP"].sum()
print("Total micronegocios de la industria manufacturear en el departamento de risaralda cuyas propietarias son mujeres entre los 20 y los 30 a単os:", int(Total_Manu_RSM))

Total micronegocios de la industria manufacturear en el departamento de risaralda cuyas propietarias son mujeres entre los 20 y los 30 a単os: 471

In [ ]:
#3. Entre las ciudades de manizales, pereira y armenia, cual tiene el mas micronegocios del sector comercio, cuyas propietarias son mujeres mayores a 40 a単os?
#3.1 Manizales
Micronegocios_Comercio_Manizales = emicron[(emicron["AREA"] == 17) & (emicron["P35"] == 2) & (emicron["P241"] > 40) & (emicron["GRUPOS4"] == 3)]
Total_Comercio_Manizales = Micronegocios_Comercio_Manizales["F_EXP"].sum()
print("Total micronegocios del sector comercio en manizales, cuyas propietarias son mujeres mayores de 40 a単os:", int(Total_Comercio_Manizales))

Total micronegocios del sector comercio en manizales, cuyas propietarias son mujeres mayores de 40 a単os: 2636

In [22]:
#3.2 Pereira
Micronegocios_Comercio_Pereira = emicron[(emicron["AREA"] == 66) & (emicron["P35"] == 2) & (emicron["P241"] > 40) & (emicron["GRUPOS4"] == 3)]
Total_Comercio_Pereira = Micronegocios_Comercio_Pereira["F_EXP"].sum()
print("Total micronegocios del sector comercio en pereira, cuyas propietarias son mujeres mayores de 40 a単os:", int(Total_Comercio_Pereira))

Total micronegocios del sector comercio en pereira, cuyas propietarias son mujeres mayores de 40 a単os: 3827

In [23]:
#3.3 Armenia
Micronegocios_Comercio_Armenia = emicron[(emicron["AREA"] == 63) & (emicron["P35"] == 2) & (emicron["P241"] > 40) & (emicron["GRUPOS4"] == 3)]
Total_Comercio_Armenia = Micronegocios_Comercio_Armenia["F_EXP"].sum()
print("Total micronegocios del sector comercio en armenia, cuyas propietarias son mujeres mayores de 40 a単os:", int(Total_Comercio_Armenia))

Total micronegocios del sector comercio en armenia, cuyas propietarias son mujeres mayores de 40 a単os: 2557

In [ ]:
#Se encontro que entre las 3 ciudades principales en el eje cafetero, la ciudad  de pereira tiene una mayor cantidad de micronegocios, la ciudad de armenia a pesar de ser la mas peque単a de las 3, tiene una cantidad significativa con la ciudad de manizales a nivel de micronegocios.

In [27]:
#4. En la ciudad de armenia, cuantos micronegocios hay cuyos propietarios son hombres que no tienen nombre comercial?
Micronegocios_Hombres_Arm = emicron[(emicron["AREA"] == 63) & (emicron["P35"] == 1) & (emicron["P3035"] == 2 )]
Total_Hombres_Arm = Micronegocios_Hombres_Arm["F_EXP"].sum()
print("El total de micronegocios en armenia sin nombre comercial y con propietarios masculinos son:", int(Total_Hombres_Arm))

El total de micronegocios en armenia sin nombre comercial y con propietarios masculinos son: 11603